@inherits LayoutComponentBase

<div class="page">
    <div style="background-image: none; background-color: #b53232;" class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a target="_blank"></a>
        </div>

        <div class="content px-4  ml-5 mr-5">
            @Body
        </div>
    </div>
</div>
